Result Skip Results Iframe
EDIT ON

/* body {
    background-image: url("IMG_8591.jpeg");
    background-size: cover;
} */

/* .bodyall {
    background-image: url("IMG_8591.jpeg");
    background-size: cover;
} */

.calendar-container {
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  /* background: #f6f5f4; */
  color: #ffffff;
  font-family: sans-serif;
  text-align: center;
}


.periodForm {
    /* width:  */
    margin: 0 auto;
    font-size: 36px;
    border-radius: 5px;
    padding: 0px 0px 20px 20px;
    /* background: #f6f5f4; */
    color: #ffffff;
    font-family: sans-serif;
    text-align: center;
  }

.title {
    height: 2000px;
    line-height: 500px;
    font-size: 60px;
    margin: 0;
    text-align: center;
    color:#ffffff;
}

.message {
    height: auto;
    line-height: 200px;
    font-size: 40px;
    margin: 0;
    text-align: center;
    color:#ffffff;
}

h1 {
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    /* margin: 0; */
    text-align: center;
    color:#ffffff;
}

/* .calendar { */
  /* padding: 0 30/ßpx 30px 30px; */
/* } */

table {
    width : auto;
}

th, td {
    border: 1px solid #ddd;
    /* padding: 10px 30px; */
    text-align: center;
    color:#ffffff;
    font-weight: normal;
    /* font-size: 14px; */
}

/* td:nth-child(6) {
    color: royalblue;
}

td:nth-child(7) {
    color: red;
} */

.button {
    /* border: 1px solid #ffffff; */
    /* line-height: 1; */
    padding: 5px 12px;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    /* background-image: #ddd; */
    background: transparent;
}

.dayButton {
    /* border: 1px solid #f6f5f4; */
    /* line-height: 1; */
    /* padding: 20px 60px; */
    width: 5em;
    height: 3em;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    /* background-image: #f6f5f4; */
    background: transparent;
}



/*タブ切り替え全体のスタイル*/
.tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 1000px;
    margin: 0 auto;
    background: transparent;
  }
  
  /*タブのスタイル*/
  .tab_item {
    width: calc(100%/3);
    height: 50px;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
    background: transparent;
  }
  .tab_item:hover {
    opacity: 0.75;
    background: transparent;
  }
  
  /*ラジオボタンを全て消す*/
  input[name="tab_item"] {
    display: none;
    background: transparent;
  }
  
  /*タブ切り替えの中身のスタイル*/
  .tab_content {
    height: 650px;
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
    /* background: transparent; */
    background: #ffffff35;

  }
  
  
  /*選択されているタブのコンテンツのみを表示*/
  #tab_1:checked ~ #tab_1_content,
  #tab_2:checked ~ #tab_2_content,
  #tab_3:checked ~ #tab_3_content {
    display: block;
  }
  
  /*選択されているタブのスタイルを変える*/
  .tabs input:checked + .tab_item {
    background-color: #03c3ee;
    color: #fff;
  }